[data-slot="sidebar-menu-button"] {
    width: 100%;
    max-width: none;
    padding-top: calc(var(--spacing) * 3);;
    padding-bottom: calc(var(--spacing) * 3);;
}

[data-slot="sidebar-content"] {
    width: 100%;
}

#page-header .flex.items-center.gap-2.pt-1\.5 > button:first-child {
    display: none;
}

a[href="https://fastapi-zcore-framework.github.io/zcore/"] span.size-8 svg {
    display: none;
}

a[href="https://fastapi-zcore-framework.github.io/zcore/"] span.size-8 {
    background-image: url("https://raw.githubusercontent.com/fastapi-zcore-framework/zcore/master/docs/assets/favico.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

button[title="Toggle theme"] {
    display: none !important;
}

button[title="Toggle layout"] {
    display: none !important;
}